<ng-container *ngIf="calendarData">
        <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
</ng-container>

<!-- {{calendarData|json}} -->
<ng-container *ngIf="workoutData">
        <app-d3Stream  [data]="workoutData" [width]="800" [height]="200"></app-d3Stream>
</ng-container>


<app-workout-input *ngIf="doInput"></app-workout-input>
<hr>
<app-compare-input *ngIf="doInput"></app-compare-input>
<app-compare-results *ngIf="!doInput"></app-compare-results>