{{workoutData|json}}

<ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
(eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>

<div>
        <app-d3Stream *ngIf="workoutData1" [data]="workoutData1" [width]="800" [height]="301"></app-d3Stream>
</div>
    

<app-workout-input *ngIf="doInput"></app-workout-input>
<hr>
<app-compare-input *ngIf="doInput"></app-compare-input>
<app-compare-results *ngIf="!doInput"></app-compare-results>

