:host { display: block }

.d3-chart .axis path,
.d3-chart .axis line {
  stroke:black;
}

.d3-chart .axis text {
  fill:black;
}


.line {
  fill: none;
  stroke: black;
  stroke-width: 20px;
}

path .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 20px;
}
