<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">FitWithLC</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li *ngIf="isAuthenticated" routerLinkActive="active"><a routerLink="/compare">Upload</a></li>
        <li *ngIf="isAuthenticated" routerLinkActive="active"><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
        <li *ngIf="!isAuthenticated" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Sign In</a></li>
        <li *ngIf="!isAuthenticated" routerLinkActive="active"><a routerLink="/first-time-password">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12"> -->
  <main-nav></main-nav>

  <!-- <router-outlet></router-outlet>  -->


      <!-- <router-outlet><main-nav></main-nav></router-outlet> -->
      
    <!-- </div>
  </div>
</div> -->


